In [2]:
%run package_import.ipynb
%run data_profiling.ipynb

In [8]:

from sqlalchemy import create_engine
import pymysql

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/nlp_with_disaster_tweets', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [5]:
import os
os.chdir(path='/Users/liuyifu/Project_data')

In [6]:
df_train = pd.read_csv('House_Prices/train.csv')

In [7]:
main_data_profiling(df_train)

,column_names,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,int64,1460,1.0,1460.0,730.500000,730.5,0,1460,0.000000,0.0,0.0
1,MSSubClass,int64,15,20.0,190.0,56.897260,50.0,0,1460,0.000000,0.0,103.0
2,MSZoning,object,5,NaN,NaN,NaN,NaN,0,1460,0.000000,NaN,NaN
3,LotFrontage,float64,111,21.0,313.0,70.049958,69.0,259,1460,0.177397,42.0,46.0
4,LotArea,int64,1073,1300.0,215245.0,10516.828082,9478.5,0,1460,0.000000,2.0,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...
76,MoSold,int64,12,1.0,12.0,6.321918,6.0,0,1460,0.000000,0.0,0.0
77,YrSold,int64,5,2006.0,2010.0,2007.815753,2008.0,0,1460,0.000000,0.0,0.0
78,SaleType,object,9,NaN,NaN,NaN,NaN,0,1460,0.000000,NaN,NaN
79,SaleCondition,object,6,NaN,NaN,NaN,NaN,0,1460,0.000000,NaN,NaN
80,SalePrice,int64,663,34900.0,755000.0,180921.195890,163000.0,0,1460,0.000000,0.0,61.0