In [10]:
%run package_import.ipynb
%run data_profiling.ipynb

In [2]:
from sqlalchemy import create_engine
import pymysql

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/kaggle_hour_price', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [21]:
import os
os.chdir(path='/Users/liuyifu/Project_data')

In [120]:
df_combined = pd.read_sql_query(

''' 
select *,
    'train' as source
from raw_train

union all

select *, 
    cast(null as float) as SalePrice,
    'test' as source
from raw_test

'''
,dbConnection)

In [125]:
main_data_profiling(df_combined)

,column_names,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,int64,2919,1.0,2919.0,1460.000000,1460.0,0,2919,0.000000,0.0,0.0
1,MSSubClass,int64,16,20.0,190.0,57.137718,50.0,0,2919,0.000000,0.0,207.0
2,MSZoning,object,6,NaN,NaN,NaN,NaN,4,2919,0.001370,NaN,NaN
3,LotFrontage,float64,129,21.0,313.0,69.305795,68.0,486,2919,0.166495,104.0,94.0
4,LotArea,int64,1951,1300.0,215245.0,10168.114080,9453.0,0,2919,0.000000,1.0,127.0
5,Street,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
6,Alley,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
7,LotShape,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
8,LandContour,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
9,Utilities,object,3,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
10,LotConfig,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
11,LandSlope,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
12,Neighborhood,object,25,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
13,Condition1,object,9,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
14,Condition2,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
15,BldgType,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
16,HouseStyle,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
17,OverallQual,int64,10,1.0,10.0,6.089072,6.0,0,2919,0.000000,4.0,0.0
18,OverallCond,int64,9,1.0,9.0,5.564577,5.0,0,2919,0.000000,67.0,185.0
19,YearBuilt,int64,118,1872.0,2010.0,1971.312778,1973.0,0,2919,0.000000,9.0,0.0
20,YearRemodAdd,int64,61,1950.0,2010.0,1984.264474,1993.0,0,2919,0.000000,0.0,0.0
21,RoofStyle,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
22,RoofMatl,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
23,Exterior1st,object,16,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
24,Exterior2nd,object,17,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
25,MasVnrType,object,5,NaN,NaN,NaN,NaN,24,2919,0.008222,NaN,NaN
26,MasVnrArea,float64,445,0.0,1600.0,102.201312,0.0,23,2919,0.007879,0.0,200.0
27,ExterQual,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
28,ExterCond,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
29,Foundation,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
30,BsmtQual,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
31,BsmtCond,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
32,BsmtExposure,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
33,BsmtFinType1,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
34,BsmtFinSF1,float64,992,0.0,5644.0,441.423235,368.5,1,2919,0.000343,0.0,15.0
35,BsmtFinType2,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
36,BsmtFinSF2,float64,273,0.0,1526.0,49.582248,0.0,1,2919,0.000343,0.0,347.0
37,BsmtUnfSF,float64,1136,0.0,2336.0,560.772104,467.0,1,2919,0.000343,0.0,53.0
38,TotalBsmtSF,float64,1059,0.0,6110.0,1051.777587,989.5,1,2919,0.000343,78.0,44.0
39,Heating,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
40,HeatingQC,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
41,CentralAir,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
42,Electrical,object,6,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
43,1stFlrSF,int64,1083,334.0,5095.0,1159.581706,1082.0,0,2919,0.000000,0.0,42.0
44,2ndFlrSF,int64,635,0.0,2065.0,336.483727,0.0,0,2919,0.000000,0.0,8.0
45,LowQualFinSF,int64,36,0.0,1064.0,4.694416,0.0,0,2919,0.000000,0.0,40.0
46,GrLivArea,int64,1292,334.0,5642.0,1500.759849,1444.0,0,2919,0.000000,0.0,74.0
47,BsmtFullBath,float64,5,0.0,3.0,0.429894,0.0,2,2919,0.000685,0.0,2.0
48,BsmtHalfBath,float64,4,0.0,2.0,0.061364,0.0,2,2919,0.000685,0.0,175.0
49,FullBath,int64,5,0.0,4.0,1.568003,2.0,0,2919,0.000000,0.0,4.0
50,HalfBath,int64,3,0.0,2.0,0.380267,0.0,0,2919,0.000000,0.0,0.0
51,BedroomAbvGr,int64,8,0.0,8.0,2.860226,3.0,0,2919,0.000000,8.0,70.0
52,KitchenAbvGr,int64,4,0.0,3.0,1.044536,1.0,0,2919,0.000000,3.0,131.0
53,KitchenQual,object,5,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
54,TotRmsAbvGrd,int64,14,2.0,15.0,6.451524,6.0,0,2919,0.000000,0.0,51.0
55,Functional,object,8,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
56,Fireplaces,int64,5,0.0,4.0,0.597122,1.0,0,2919,0.000000,0.0,12.0
57,FireplaceQu,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
58,GarageType,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
59,GarageYrBlt,float64,104,1895.0,2207.0,1978.113406,1979.0,159,2919,0.054471,2.0,1.0
60,GarageFinish,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
61,GarageCars,float64,7,0.0,5.0,1.766621,2.0,1,2919,0.000343,0.0,17.0
62,GarageArea,float64,604,0.0,1488.0,472.874572,480.0,1,2919,0.000343,0.0,42.0
63,GarageQual,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
64,GarageCond,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
65,PavedDrive,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
66,WoodDeckSF,int64,379,0.0,1424.0,93.709832,0.0,0,2919,0.000000,0.0,67.0
67,OpenPorchSF,int64,252,0.0,742.0,47.486811,26.0,0,2919,0.000000,0.0,159.0
68,EnclosedPorch,int64,183,0.0,1012.0,23.098321,0.0,0,2919,0.000000,0.0,459.0
69,3SsnPorch,int64,31,0.0,508.0,2.602261,0.0,0,2919,0.000000,0.0,37.0
70,ScreenPorch,int64,121,0.0,576.0,16.062350,0.0,0,2919,0.000000,0.0,256.0
71,PoolArea,int64,14,0.0,800.0,2.251799,0.0,0,2919,0.000000,0.0,13.0
72,PoolQC,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
73,Fence,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
74,MiscFeature,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
75,MiscVal,int64,38,0.0,17000.0,50.825968,0.0,0,2919,0.000000,0.0,103.0
76,MoSold,int64,12,1.0,12.0,6.213087,6.0,0,2919,0.000000,0.0,0.0
77,YrSold,int64,5,2006.0,2010.0,2007.792737,2008.0,0,2919,0.000000,0.0,0.0
78,SaleType,object,10,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
79,SaleCondition,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
80,SalePrice,float64,664,34900.0,755000.0,180921.195890,163000.0,1459,2919,0.499829,0.0,61.0
81,source,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN

### ETL Process

In [131]:
# The loop is to convert description to jason to fill na value
# initalise the dictionary
desc_dict, attr_dict, col_desc = {}, {}, {}
with open('House_Prices/data_description.txt', encoding='utf8') as f:
    for line in f:
        # convert line into list
        words = line.split()
        # if the line contains ":", the line includes a column
        # and its description
        if words and ':' in line:
            # convert the line into list, recognise the first item from the list
            # as the column and remove ":"
            col = words[0].replace(':','')
            # save the column as a key into description dictionary
            desc_dict[col] = {}
            col_desc[col] = ' '.join(words[1:])
        # if the line is blank, move to the next one
        elif  not words:
            continue
        else:
            # the attr_desc is to contain values for each column
            # concatenate items except the value from the list to 
            # rebuild the description of each value
            attr_desc = ' '.join(words[1:])
            # store the first item of the list as the value
            attr = words[0]
            # save the the attribute dictionary as sub-dictionary to
            # description description
            desc_dict[col][attr] = attr_desc

In [136]:
df_profile = main_data_profiling(df_combined)
df_profile.insert(1, 'col_desc', np.nan)
df_profile['col_desc'] = df_profile['column_names'].map(col_desc)
df_profile

,column_names,col_desc,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,NaN,int64,2919,1.0,2919.0,1460.000000,1460.0,0,2919,0.000000,0.0,0.0
1,MSSubClass,Identifies the type of dwelling involved in the sale.,int64,16,20.0,190.0,57.137718,50.0,0,2919,0.000000,0.0,207.0
2,MSZoning,Identifies the general zoning classification of the sale.,object,6,NaN,NaN,NaN,NaN,4,2919,0.001370,NaN,NaN
3,LotFrontage,Linear feet of street connected to property,float64,129,21.0,313.0,69.305795,68.0,486,2919,0.166495,104.0,94.0
4,LotArea,Lot size in square feet,int64,1951,1300.0,215245.0,10168.114080,9453.0,0,2919,0.000000,1.0,127.0
5,Street,Type of road access to property,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
6,Alley,Type of alley access to property,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
7,LotShape,General shape of property,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
8,LandContour,Flatness of the property,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
9,Utilities,Type of utilities available,object,3,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
10,LotConfig,Lot configuration,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
11,LandSlope,Slope of property,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
12,Neighborhood,Physical locations within Ames city limits,object,25,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
13,Condition1,Proximity to various conditions,object,9,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
14,Condition2,Proximity to various conditions (if more than one is present),object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
15,BldgType,Type of dwelling,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
16,HouseStyle,Style of dwelling,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
17,OverallQual,Rates the overall material and finish of the house,int64,10,1.0,10.0,6.089072,6.0,0,2919,0.000000,4.0,0.0
18,OverallCond,Rates the overall condition of the house,int64,9,1.0,9.0,5.564577,5.0,0,2919,0.000000,67.0,185.0
19,YearBuilt,Original construction date,int64,118,1872.0,2010.0,1971.312778,1973.0,0,2919,0.000000,9.0,0.0
20,YearRemodAdd,Remodel date (same as construction date if no remodeling or additions),int64,61,1950.0,2010.0,1984.264474,1993.0,0,2919,0.000000,0.0,0.0
21,RoofStyle,Type of roof,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
22,RoofMatl,Roof material,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
23,Exterior1st,Exterior covering on house,object,16,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
24,Exterior2nd,Exterior covering on house (if more than one material),object,17,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
25,MasVnrType,Masonry veneer type,object,5,NaN,NaN,NaN,NaN,24,2919,0.008222,NaN,NaN
26,MasVnrArea,Masonry veneer area in square feet,float64,445,0.0,1600.0,102.201312,0.0,23,2919,0.007879,0.0,200.0
27,ExterQual,Evaluates the quality of the material on the exterior,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
28,ExterCond,Evaluates the present condition of the material on the exterior,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
29,Foundation,Type of foundation,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
30,BsmtQual,Evaluates the height of the basement,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
31,BsmtCond,Evaluates the general condition of the basement,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
32,BsmtExposure,Refers to walkout or garden level walls,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
33,BsmtFinType1,Rating of basement finished area,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
34,BsmtFinSF1,Type 1 finished square feet,float64,992,0.0,5644.0,441.423235,368.5,1,2919,0.000343,0.0,15.0
35,BsmtFinType2,Rating of basement finished area (if multiple types),object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
36,BsmtFinSF2,Type 2 finished square feet,float64,273,0.0,1526.0,49.582248,0.0,1,2919,0.000343,0.0,347.0
37,BsmtUnfSF,Unfinished square feet of basement area,float64,1136,0.0,2336.0,560.772104,467.0,1,2919,0.000343,0.0,53.0
38,TotalBsmtSF,Total square feet of basement area,float64,1059,0.0,6110.0,1051.777587,989.5,1,2919,0.000343,78.0,44.0
39,Heating,Type of heating,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
40,HeatingQC,Heating quality and condition,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
41,CentralAir,Central air conditioning,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
42,Electrical,Electrical system,object,6,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
43,1stFlrSF,First Floor square feet,int64,1083,334.0,5095.0,1159.581706,1082.0,0,2919,0.000000,0.0,42.0
44,2ndFlrSF,Second floor square feet,int64,635,0.0,2065.0,336.483727,0.0,0,2919,0.000000,0.0,8.0
45,LowQualFinSF,Low quality finished square feet (all floors),int64,36,0.0,1064.0,4.694416,0.0,0,2919,0.000000,0.0,40.0
46,GrLivArea,Above grade (ground) living area square feet,int64,1292,334.0,5642.0,1500.759849,1444.0,0,2919,0.000000,0.0,74.0
47,BsmtFullBath,Basement full bathrooms,float64,5,0.0,3.0,0.429894,0.0,2,2919,0.000685,0.0,2.0
48,BsmtHalfBath,Basement half bathrooms,float64,4,0.0,2.0,0.061364,0.0,2,2919,0.000685,0.0,175.0
49,FullBath,Full bathrooms above grade,int64,5,0.0,4.0,1.568003,2.0,0,2919,0.000000,0.0,4.0
50,HalfBath,Half baths above grade,int64,3,0.0,2.0,0.380267,0.0,0,2919,0.000000,0.0,0.0
51,BedroomAbvGr,NaN,int64,8,0.0,8.0,2.860226,3.0,0,2919,0.000000,8.0,70.0
52,KitchenAbvGr,NaN,int64,4,0.0,3.0,1.044536,1.0,0,2919,0.000000,3.0,131.0
53,KitchenQual,Kitchen quality,object,5,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
54,TotRmsAbvGrd,Total rooms above grade (does not include bathrooms),int64,14,2.0,15.0,6.451524,6.0,0,2919,0.000000,0.0,51.0
55,Functional,Home functionality (Assume typical unless deductions are warranted),object,8,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
56,Fireplaces,Number of fireplaces,int64,5,0.0,4.0,0.597122,1.0,0,2919,0.000000,0.0,12.0
57,FireplaceQu,Fireplace quality,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
58,GarageType,Garage location,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
59,GarageYrBlt,Year garage was built,float64,104,1895.0,2207.0,1978.113406,1979.0,159,2919,0.054471,2.0,1.0
60,GarageFinish,Interior finish of the garage,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
61,GarageCars,Size of garage in car capacity,float64,7,0.0,5.0,1.766621,2.0,1,2919,0.000343,0.0,17.0
62,GarageArea,Size of garage in square feet,float64,604,0.0,1488.0,472.874572,480.0,1,2919,0.000343,0.0,42.0
63,GarageQual,Garage quality,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
64,GarageCond,Garage condition,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
65,PavedDrive,Paved driveway,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
66,WoodDeckSF,Wood deck area in square feet,int64,379,0.0,1424.0,93.709832,0.0,0,2919,0.000000,0.0,67.0
67,OpenPorchSF,Open porch area in square feet,int64,252,0.0,742.0,47.486811,26.0,0,2919,0.000000,0.0,159.0
68,EnclosedPorch,Enclosed porch area in square feet,int64,183,0.0,1012.0,23.098321,0.0,0,2919,0.000000,0.0,459.0
69,3SsnPorch,Three season porch area in square feet,int64,31,0.0,508.0,2.602261,0.0,0,2919,0.000000,0.0,37.0
70,ScreenPorch,Screen porch area in square feet,int64,121,0.0,576.0,16.062350,0.0,0,2919,0.000000,0.0,256.0
71,PoolArea,Pool area in square feet,int64,14,0.0,800.0,2.251799,0.0,0,2919,0.000000,0.0,13.0
72,PoolQC,Pool quality,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
73,Fence,Fence quality,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
74,MiscFeature,Miscellaneous feature not covered in other categories,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
75,MiscVal,$Value of miscellaneous feature,int64,38,0.0,17000.0,50.825968,0.0,0,2919,0.000000,0.0,103.0
76,MoSold,Month Sold (MM),int64,12,1.0,12.0,6.213087,6.0,0,2919,0.000000,0.0,0.0
77,YrSold,Year Sold (YYYY),int64,5,2006.0,2010.0,2007.792737,2008.0,0,2919,0.000000,0.0,0.0
78,SaleType,Type of sale,object,10,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
79,SaleCondition,Condition of sale,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
80,SalePrice,NaN,float64,664,34900.0,755000.0,180921.195890,163000.0,1459,2919,0.499829,0.0,61.0
81,source,NaN,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN

#### 1. Replace NA

In [124]:
# the loop is to fill na value based on descriptioin automatically
for col in df_combined.columns:
    # if a column has null value and its value includes "NA"
    # replace NA with the value mentioned in the description;
    # otherwise, skip it. 
    if df_profile[df_profile['column_names'] == col]['null_values'].squeeze() > 0:
        if col in desc_dict and desc_dict[col].get('NA'):
            df_combined[col] = df_combined[col].fillna(desc_dict[col]['NA'])

#### 2. Check duplication

In [127]:
df_combined[df_combined.duplicated()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice, source]
Index: []

### Upload transformed data

In [141]:
df_combined.to_sql('transformed_combined', dbConnection, if_exists='replace', index=False)