In [1]:
%run package_import.ipynb
%run data_profiling.ipynb

In [2]:
from sqlalchemy import create_engine, types
import pymysql

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/kaggle_hour_price', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [3]:
import os
os.chdir(path='/Users/liuyifu/Project_data')

In [28]:
df_combined = pd.read_sql_query(

''' 
select *,
    'train' as source
from raw_train

union all

select *, 
    cast(null as float) as SalePrice,
    'test' as source
from raw_test
'''
,dbConnection)

In [5]:
df_profile = main_data_profiling(df_combined)

In [6]:
df_profile

,column_names,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,int64,2919,1.0,2919.0,1460.000000,1460.0,0,2919,0.000000,0.0,0.0
1,MSSubClass,int64,16,20.0,190.0,57.137718,50.0,0,2919,0.000000,0.0,207.0
2,MSZoning,object,6,NaN,NaN,NaN,NaN,4,2919,0.001370,NaN,NaN
3,LotFrontage,float64,129,21.0,313.0,69.305795,68.0,486,2919,0.166495,104.0,94.0
4,LotArea,int64,1951,1300.0,215245.0,10168.114080,9453.0,0,2919,0.000000,1.0,127.0
5,Street,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
6,Alley,object,3,NaN,NaN,NaN,NaN,2721,2919,0.932169,NaN,NaN
7,LotShape,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
8,LandContour,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
9,Utilities,object,3,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
10,LotConfig,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
11,LandSlope,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
12,Neighborhood,object,25,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
13,Condition1,object,9,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
14,Condition2,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
15,BldgType,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
16,HouseStyle,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
17,OverallQual,int64,10,1.0,10.0,6.089072,6.0,0,2919,0.000000,4.0,0.0
18,OverallCond,int64,9,1.0,9.0,5.564577,5.0,0,2919,0.000000,67.0,185.0
19,YearBuilt,int64,118,1872.0,2010.0,1971.312778,1973.0,0,2919,0.000000,9.0,0.0
20,YearRemodAdd,int64,61,1950.0,2010.0,1984.264474,1993.0,0,2919,0.000000,0.0,0.0
21,RoofStyle,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
22,RoofMatl,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
23,Exterior1st,object,16,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
24,Exterior2nd,object,17,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
25,MasVnrType,object,5,NaN,NaN,NaN,NaN,24,2919,0.008222,NaN,NaN
26,MasVnrArea,float64,445,0.0,1600.0,102.201312,0.0,23,2919,0.007879,0.0,200.0
27,ExterQual,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
28,ExterCond,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
29,Foundation,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
30,BsmtQual,object,5,NaN,NaN,NaN,NaN,81,2919,0.027749,NaN,NaN
31,BsmtCond,object,5,NaN,NaN,NaN,NaN,82,2919,0.028092,NaN,NaN
32,BsmtExposure,object,5,NaN,NaN,NaN,NaN,82,2919,0.028092,NaN,NaN
33,BsmtFinType1,object,7,NaN,NaN,NaN,NaN,79,2919,0.027064,NaN,NaN
34,BsmtFinSF1,float64,992,0.0,5644.0,441.423235,368.5,1,2919,0.000343,0.0,15.0
35,BsmtFinType2,object,7,NaN,NaN,NaN,NaN,80,2919,0.027407,NaN,NaN
36,BsmtFinSF2,float64,273,0.0,1526.0,49.582248,0.0,1,2919,0.000343,0.0,347.0
37,BsmtUnfSF,float64,1136,0.0,2336.0,560.772104,467.0,1,2919,0.000343,0.0,53.0
38,TotalBsmtSF,float64,1059,0.0,6110.0,1051.777587,989.5,1,2919,0.000343,78.0,44.0
39,Heating,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
40,HeatingQC,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
41,CentralAir,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
42,Electrical,object,6,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
43,1stFlrSF,int64,1083,334.0,5095.0,1159.581706,1082.0,0,2919,0.000000,0.0,42.0
44,2ndFlrSF,int64,635,0.0,2065.0,336.483727,0.0,0,2919,0.000000,0.0,8.0
45,LowQualFinSF,int64,36,0.0,1064.0,4.694416,0.0,0,2919,0.000000,0.0,40.0
46,GrLivArea,int64,1292,334.0,5642.0,1500.759849,1444.0,0,2919,0.000000,0.0,74.0
47,BsmtFullBath,float64,5,0.0,3.0,0.429894,0.0,2,2919,0.000685,0.0,2.0
48,BsmtHalfBath,float64,4,0.0,2.0,0.061364,0.0,2,2919,0.000685,0.0,175.0
49,FullBath,int64,5,0.0,4.0,1.568003,2.0,0,2919,0.000000,0.0,4.0
50,HalfBath,int64,3,0.0,2.0,0.380267,0.0,0,2919,0.000000,0.0,0.0
51,BedroomAbvGr,int64,8,0.0,8.0,2.860226,3.0,0,2919,0.000000,8.0,70.0
52,KitchenAbvGr,int64,4,0.0,3.0,1.044536,1.0,0,2919,0.000000,3.0,131.0
53,KitchenQual,object,5,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
54,TotRmsAbvGrd,int64,14,2.0,15.0,6.451524,6.0,0,2919,0.000000,0.0,51.0
55,Functional,object,8,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
56,Fireplaces,int64,5,0.0,4.0,0.597122,1.0,0,2919,0.000000,0.0,12.0
57,FireplaceQu,object,6,NaN,NaN,NaN,NaN,1420,2919,0.486468,NaN,NaN
58,GarageType,object,7,NaN,NaN,NaN,NaN,157,2919,0.053786,NaN,NaN
59,GarageYrBlt,float64,104,1895.0,2207.0,1978.113406,1979.0,159,2919,0.054471,2.0,1.0
60,GarageFinish,object,4,NaN,NaN,NaN,NaN,159,2919,0.054471,NaN,NaN
61,GarageCars,float64,7,0.0,5.0,1.766621,2.0,1,2919,0.000343,0.0,17.0
62,GarageArea,float64,604,0.0,1488.0,472.874572,480.0,1,2919,0.000343,0.0,42.0
63,GarageQual,object,6,NaN,NaN,NaN,NaN,159,2919,0.054471,NaN,NaN
64,GarageCond,object,6,NaN,NaN,NaN,NaN,159,2919,0.054471,NaN,NaN
65,PavedDrive,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
66,WoodDeckSF,int64,379,0.0,1424.0,93.709832,0.0,0,2919,0.000000,0.0,67.0
67,OpenPorchSF,int64,252,0.0,742.0,47.486811,26.0,0,2919,0.000000,0.0,159.0
68,EnclosedPorch,int64,183,0.0,1012.0,23.098321,0.0,0,2919,0.000000,0.0,459.0
69,3SsnPorch,int64,31,0.0,508.0,2.602261,0.0,0,2919,0.000000,0.0,37.0
70,ScreenPorch,int64,121,0.0,576.0,16.062350,0.0,0,2919,0.000000,0.0,256.0
71,PoolArea,int64,14,0.0,800.0,2.251799,0.0,0,2919,0.000000,0.0,13.0
72,PoolQC,object,4,NaN,NaN,NaN,NaN,2909,2919,0.996574,NaN,NaN
73,Fence,object,5,NaN,NaN,NaN,NaN,2348,2919,0.804385,NaN,NaN
74,MiscFeature,object,5,NaN,NaN,NaN,NaN,2814,2919,0.964029,NaN,NaN
75,MiscVal,int64,38,0.0,17000.0,50.825968,0.0,0,2919,0.000000,0.0,103.0
76,MoSold,int64,12,1.0,12.0,6.213087,6.0,0,2919,0.000000,0.0,0.0
77,YrSold,int64,5,2006.0,2010.0,2007.792737,2008.0,0,2919,0.000000,0.0,0.0
78,SaleType,object,10,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
79,SaleCondition,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
80,SalePrice,float64,664,34900.0,755000.0,180921.195890,163000.0,1459,2919,0.499829,0.0,61.0
81,source,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN

### ETL Process

In [7]:
# The loop is to convert description to jason to fill na value
# initalise the dictionary
desc_dict, attr_dict, col_desc = {}, {}, {}
with open('House_Prices/data_description.txt', encoding='utf8') as f:
    for line in f:
        # convert line into list
        words = line.split()
        # if the line contains ":", the line includes a column
        # and its description
        if words and ':' in line:
            # convert the line into list, recognise the first item from the list
            # as the column and remove ":"
            col = words[0].replace(':','')
            # save the column as a key into description dictionary
            desc_dict[col] = {}
            col_desc[col] = ' '.join(words[1:])
        # if the line is blank, move to the next one
        elif  not words:
            continue
        else:
            # the attr_desc is to contain values for each column
            # concatenate items except the value from the list to 
            # rebuild the description of each value
            attr_desc = ' '.join(words[1:])
            # store the first item of the list as the value
            attr = words[0]
            # save the the attribute dictionary as sub-dictionary to
            # description description
            desc_dict[col][attr] = attr_desc

In [29]:
df_profile = main_data_profiling(df_combined)
df_profile.insert(1, 'col_desc', np.nan)
df_profile.insert(2, 'value_desc', np.nan)
df_profile['col_desc'] = df_profile['column_names'].map(col_desc)
df_profile['value_desc'] = df_profile['column_names'].map(desc_dict)
df_profile['value_desc'] = df_profile['value_desc'].astype('str')

#### 1. Replace NA

In [30]:
df_combined['SaleType'] = df_combined['SaleType'].fillna('WD')
df_combined['MSZoning'] = df_combined['MSZoning'].fillna('RL')
df_combined['Functional'] = df_combined['Functional'].fillna('Typ')
df_combined['Utilities'] = df_combined['Utilities'].fillna('AllPub')
df_combined['Electrical'] = df_combined['Electrical'].fillna('SBrkr')
df_combined['KitchenQual'] = df_combined['KitchenQual'].fillna('TA')
df_combined['Exterior2nd'] = df_combined['Exterior2nd'].fillna('VinylSd')
df_combined['Exterior1st'] = df_combined['Exterior1st'].fillna('VinylSd')

# the loop is to fill na value based on descriptioin automatically
for col in df_combined.columns:
    # if a column has null value and its value includes "NA"
    # replace NA with the value mentioned in the description;
    # otherwise, skip it. 
    if df_profile[df_profile['column_names'] == col]['null_values'].squeeze() > 0:
        if df_profile[df_profile['column_names'] == col]['data_type'].squeeze() == 'object':
                    df_combined[col] = df_combined[col].fillna('No')
        elif df_profile[df_profile['column_names'] == col]['data_type'].squeeze() == 'float64':
            df_combined[col] = df_combined[col].fillna(0)

#### 2. Check duplication

In [31]:
df_combined[df_combined.duplicated()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice, source]
Index: []

#### map rates for quality

In [32]:
marks = {"No":-1, "Po": 0, 'Fa': 1, "TA": 2, 'Gd': 3, 'Ex': 4}
cols_marks = []

for col in df_combined.columns:
    marks_exist = 1
    for i in df_combined[col].unique():
        if i in marks:
            pass
        else:
            marks_exist = 0
            break
    
    if marks_exist == 1:
        cols_marks.append(col)


for col in cols_marks:
    df_combined[col] = df_combined[col].map(marks).astype('int')

In [33]:
# map BsmtExposure
masks2 = {'Gd': 2, 'Av': 1, 'Mn': 0, 'No': -1}

df_combined['BsmtExposure'] = df_combined['BsmtExposure'].map(masks2)

In [34]:
masks3 = {'GLQ': 5, 'ALQ': 4, 'BLQ': 3, 'Rec': 2, 'LwQ': 1, 'Unf': 0, 'No': -1}

df_combined['BsmtFinType1'] = df_combined['BsmtFinType1'].map(masks3).astype('int')
df_combined['BsmtFinType2'] = df_combined['BsmtFinType2'].map(masks3).astype('int')

In [35]:
# GarageFinish
masks4 = {'Fin': 2, 'RFn': 1, 'Unf': 0, 'No': -1}
df_combined['GarageFinish'] = df_combined['GarageFinish'].map(masks4).astype('int')

In [36]:
masks5 = {'Y': 1, 'P': 0, 'N': -1}
df_combined['PavedDrive'] = df_combined['PavedDrive'].map(masks5).astype('int')

In [37]:
df_combined['CentralAir'] = df_combined['CentralAir'].map({'Y': 1, 'N': 0}).astype('int')

In [38]:
df_combined['Fence'] = df_combined['Fence'].map({'GdPrv': 3, 'MnPrv': 2, 'GdWo': 1, 'MnWw': 0, 'No': -1}).astype('int')

In [44]:
main_data_profiling(df_combined)

,column_names,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,int64,2919,1.0,2919.0,1460.000000,1460.0,0,2919,0.0,0.0,0.0
1,MSSubClass,int64,16,20.0,190.0,57.137718,50.0,0,2919,0.0,0.0,207.0
2,MSZoning,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
3,LotFrontage,float64,129,0.0,313.0,57.766701,63.0,0,2919,0.0,0.0,31.0
4,LotArea,int64,1951,1300.0,215245.0,10168.114080,9453.0,0,2919,0.0,1.0,127.0
5,Street,object,2,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
6,Alley,object,3,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
7,LotShape,object,4,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
8,LandContour,object,4,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
9,Utilities,object,2,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
10,LotConfig,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
11,LandSlope,object,3,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
12,Neighborhood,object,25,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
13,Condition1,object,9,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
14,Condition2,object,8,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
15,BldgType,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
16,HouseStyle,object,8,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
17,YearRemodAdd,int64,61,1950.0,2010.0,1984.264474,1993.0,0,2919,0.0,0.0,0.0
18,RoofStyle,object,6,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
19,RoofMatl,object,8,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
20,Exterior1st,object,15,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
21,Exterior2nd,object,16,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
22,MasVnrType,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
23,MasVnrArea,float64,444,0.0,1600.0,101.396026,0.0,0,2919,0.0,0.0,202.0
24,Foundation,object,6,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
25,BsmtExposure,int64,4,-1.0,2.0,-0.348064,-1.0,0,2919,0.0,0.0,276.0
26,Heating,object,6,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
27,HeatingQC,int64,5,0.0,4.0,3.151764,4.0,0,2919,0.0,0.0,0.0
28,CentralAir,int64,2,0.0,1.0,0.932854,1.0,0,2919,0.0,196.0,0.0
29,Electrical,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
30,1stFlrSF,int64,1083,334.0,5095.0,1159.581706,1082.0,0,2919,0.0,0.0,42.0
31,2ndFlrSF,int64,635,0.0,2065.0,336.483727,0.0,0,2919,0.0,0.0,8.0
32,LowQualFinSF,int64,36,0.0,1064.0,4.694416,0.0,0,2919,0.0,0.0,40.0
33,GrLivArea,int64,1292,334.0,5642.0,1500.759849,1444.0,0,2919,0.0,0.0,74.0
34,BsmtFullBath,float64,4,0.0,3.0,0.429599,0.0,0,2919,0.0,0.0,2.0
35,BsmtHalfBath,float64,3,0.0,2.0,0.061322,0.0,0,2919,0.0,0.0,175.0
36,FullBath,int64,5,0.0,4.0,1.568003,2.0,0,2919,0.0,0.0,4.0
37,HalfBath,int64,3,0.0,2.0,0.380267,0.0,0,2919,0.0,0.0,0.0
38,BedroomAbvGr,int64,8,0.0,8.0,2.860226,3.0,0,2919,0.0,8.0,70.0
39,KitchenAbvGr,int64,4,0.0,3.0,1.044536,1.0,0,2919,0.0,3.0,131.0
40,KitchenQual,int64,4,1.0,4.0,2.510791,2.0,0,2919,0.0,0.0,0.0
41,TotRmsAbvGrd,int64,14,2.0,15.0,6.451524,6.0,0,2919,0.0,0.0,51.0
42,Functional,object,7,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
43,GarageType,object,7,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
44,GarageCars,float64,6,0.0,5.0,1.766016,2.0,0,2919,0.0,0.0,17.0
45,GarageArea,float64,603,0.0,1488.0,472.712573,480.0,0,2919,0.0,0.0,42.0
46,PavedDrive,int64,3,-1.0,1.0,0.830764,1.0,0,2919,0.0,278.0,0.0
47,WoodDeckSF,int64,379,0.0,1424.0,93.709832,0.0,0,2919,0.0,0.0,67.0
48,PoolArea,int64,14,0.0,800.0,2.251799,0.0,0,2919,0.0,0.0,13.0
49,PoolQC,int64,4,-1.0,4.0,-0.986297,-1.0,0,2919,0.0,0.0,10.0
50,Fence,int64,5,-1.0,3.0,-0.419322,-1.0,0,2919,0.0,0.0,571.0
51,MiscFeature,object,5,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
52,MiscVal,int64,38,0.0,17000.0,50.825968,0.0,0,2919,0.0,0.0,103.0
53,MoSold,int64,12,1.0,12.0,6.213087,6.0,0,2919,0.0,0.0,0.0
54,SaleType,object,9,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
55,SaleCondition,object,6,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
56,SalePrice,float64,664,0.0,755000.0,90491.588215,34900.0,0,2919,0.0,0.0,25.0
57,source,object,2,NaN,NaN,NaN,NaN,0,2919,0.0,NaN,NaN
58,BsmtFinSF,float64,999,0.0,5644.0,490.837273,457.0,0,2919,0.0,0.0,14.0
59,Overall,int64,17,2.0,19.0,11.653649,12.0,0,2919,0.0,56.0,11.0
60,Age,int64,128,-1.0,136.0,36.479959,35.0,0,2919,0.0,0.0,9.0
61,Garage_Age,float64,116,-200.0,2010.0,137.428571,30.0,0,2919,0.0,1.0,159.0
62,Exter,int64,8,1.0,8.0,4.482357,4.0,0,2919,0.0,22.0,9.0
63,Bsmt,int64,9,-2.0,7.0,4.396026,5.0,0,2919,0.0,110.0,23.0
64,BsmtType1,float64,1339,0.0,14110.0,899.172491,507.0,0,2919,0.0,0.0,50.0
65,BsmtType2,float64,299,-239.5,3815.0,71.343440,0.0,0,2919,0.0,1.0,345.0
66,BsmtOverall,float64,2256,0.0,3150400.0,334712.587873,225792.0,0,2919,0.0,0.0,233.0
67,Fireplace,float64,9,0.0,6.0,0.732100,0.0,0,2919,0.0,0.0,12.0
68,Garage,int64,12,-3.0,10.0,4.325797,5.0,0,2919,0.0,163.0,1.0
69,Porch,int64,371,0.0,1207.0,89.249743,50.0,0,2919,0.0,0.0,89.0

#### Feature engineer

In [40]:
df_combined['BsmtFinSF'] = df_combined['BsmtFinSF1'] + df_combined['BsmtFinSF2']
df_combined['Overall'] = df_combined['OverallQual'] + df_combined['OverallCond']
df_combined['Age'] = df_combined.YrSold - df_combined.YearBuilt
df_combined['Garage_Age'] = df_combined.YrSold - df_combined.GarageYrBlt
df_combined['Exter'] = df_combined.ExterCond + df_combined.ExterQual
df_combined['Bsmt'] = df_combined.BsmtQual + df_combined.BsmtCond
df_combined['BsmtType1'] = df_combined['BsmtFinType1'] * df_combined['BsmtFinSF1'] / 2
df_combined['BsmtType2'] = df_combined['BsmtFinType2'] * df_combined['BsmtFinSF2'] / 2
df_combined['BsmtOverall'] = df_combined['BsmtUnfSF'] * df_combined['TotalBsmtSF'] / 2
df_combined['Fireplace'] = df_combined['Fireplaces'] * df_combined['FireplaceQu'] /2
df_combined['Garage'] = df_combined['GarageQual'] + df_combined['GarageCond'] + df_combined['GarageFinish'] 
df_combined['Porch'] = df_combined['OpenPorchSF'] + df_combined['EnclosedPorch'] + df_combined['3SsnPorch'] + df_combined['ScreenPorch']

#### Drop columns

In [41]:
df_combined.drop(columns=['BsmtFinSF1', 'BsmtFinSF2', 'OverallQual', 
                            'OverallCond', 'YrSold', 'YearBuilt',
                            'GarageYrBlt', 'ExterCond', 'ExterQual',
                            'BsmtQual', 'BsmtCond', 'BsmtFinType1',
                            'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2',
                            'BsmtUnfSF', 'TotalBsmtSF', 'Fireplaces',
                            'FireplaceQu', 'GarageQual', 'GarageCond',
                            'GarageFinish', 'OpenPorchSF', 'EnclosedPorch',
                            '3SsnPorch','ScreenPorch'

                            ], inplace=True)

### Upload transformed data

In [42]:
df_combined.to_sql('transformed_combined', dbConnection, if_exists='replace', index=False)

In [43]:
df_profile.to_sql('raw_data_profile', dbConnection, if_exists='replace', index=False, method='multi')