In [10]:
%run package_import.ipynb
%run data_profiling.ipynb

In [2]:
from sqlalchemy import create_engine
import pymysql

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/kaggle_hour_price', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [21]:
import os
os.chdir(path='/Users/liuyifu/Project_data')

In [105]:
df_combined = pd.read_sql_query(

''' 
select *
from raw_train
union all
select *, 
    cast(null as float) as SalePrice
from raw_test

'''



,dbConnection)

In [107]:
df_profile = main_data_profiling(df_combined)

In [108]:
df_profile

,column_names,data_type,unique_count,min_value,max_value,mean_value,median_value,null_values,total_rows,%_null_values,num_lower_outliers,num_higher_outliers
0,Id,int64,2919,1.0,2919.0,1460.000000,1460.0,0,2919,0.000000,0.0,0.0
1,MSSubClass,int64,16,20.0,190.0,57.137718,50.0,0,2919,0.000000,0.0,207.0
2,MSZoning,object,6,NaN,NaN,NaN,NaN,4,2919,0.001370,NaN,NaN
3,LotFrontage,float64,129,21.0,313.0,69.305795,68.0,486,2919,0.166495,104.0,94.0
4,LotArea,int64,1951,1300.0,215245.0,10168.114080,9453.0,0,2919,0.000000,1.0,127.0
5,Street,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
6,Alley,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
7,LotShape,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
8,LandContour,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
9,Utilities,object,3,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
10,LotConfig,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
11,LandSlope,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
12,Neighborhood,object,25,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
13,Condition1,object,9,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
14,Condition2,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
15,BldgType,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
16,HouseStyle,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
17,OverallQual,int64,10,1.0,10.0,6.089072,6.0,0,2919,0.000000,4.0,0.0
18,OverallCond,int64,9,1.0,9.0,5.564577,5.0,0,2919,0.000000,67.0,185.0
19,YearBuilt,int64,118,1872.0,2010.0,1971.312778,1973.0,0,2919,0.000000,9.0,0.0
20,YearRemodAdd,int64,61,1950.0,2010.0,1984.264474,1993.0,0,2919,0.000000,0.0,0.0
21,RoofStyle,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
22,RoofMatl,object,8,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
23,Exterior1st,object,16,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
24,Exterior2nd,object,17,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
25,MasVnrType,object,5,NaN,NaN,NaN,NaN,24,2919,0.008222,NaN,NaN
26,MasVnrArea,float64,445,0.0,1600.0,102.201312,0.0,23,2919,0.007879,0.0,200.0
27,ExterQual,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
28,ExterCond,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
29,Foundation,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
30,BsmtQual,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
31,BsmtCond,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
32,BsmtExposure,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
33,BsmtFinType1,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
34,BsmtFinSF1,float64,992,0.0,5644.0,441.423235,368.5,1,2919,0.000343,0.0,15.0
35,BsmtFinType2,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
36,BsmtFinSF2,float64,273,0.0,1526.0,49.582248,0.0,1,2919,0.000343,0.0,347.0
37,BsmtUnfSF,float64,1136,0.0,2336.0,560.772104,467.0,1,2919,0.000343,0.0,53.0
38,TotalBsmtSF,float64,1059,0.0,6110.0,1051.777587,989.5,1,2919,0.000343,78.0,44.0
39,Heating,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
40,HeatingQC,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
41,CentralAir,object,2,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
42,Electrical,object,6,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
43,1stFlrSF,int64,1083,334.0,5095.0,1159.581706,1082.0,0,2919,0.000000,0.0,42.0
44,2ndFlrSF,int64,635,0.0,2065.0,336.483727,0.0,0,2919,0.000000,0.0,8.0
45,LowQualFinSF,int64,36,0.0,1064.0,4.694416,0.0,0,2919,0.000000,0.0,40.0
46,GrLivArea,int64,1292,334.0,5642.0,1500.759849,1444.0,0,2919,0.000000,0.0,74.0
47,BsmtFullBath,float64,5,0.0,3.0,0.429894,0.0,2,2919,0.000685,0.0,2.0
48,BsmtHalfBath,float64,4,0.0,2.0,0.061364,0.0,2,2919,0.000685,0.0,175.0
49,FullBath,int64,5,0.0,4.0,1.568003,2.0,0,2919,0.000000,0.0,4.0
50,HalfBath,int64,3,0.0,2.0,0.380267,0.0,0,2919,0.000000,0.0,0.0
51,BedroomAbvGr,int64,8,0.0,8.0,2.860226,3.0,0,2919,0.000000,8.0,70.0
52,KitchenAbvGr,int64,4,0.0,3.0,1.044536,1.0,0,2919,0.000000,3.0,131.0
53,KitchenQual,object,5,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
54,TotRmsAbvGrd,int64,14,2.0,15.0,6.451524,6.0,0,2919,0.000000,0.0,51.0
55,Functional,object,8,NaN,NaN,NaN,NaN,2,2919,0.000685,NaN,NaN
56,Fireplaces,int64,5,0.0,4.0,0.597122,1.0,0,2919,0.000000,0.0,12.0
57,FireplaceQu,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
58,GarageType,object,7,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
59,GarageYrBlt,float64,104,1895.0,2207.0,1978.113406,1979.0,159,2919,0.054471,2.0,1.0
60,GarageFinish,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
61,GarageCars,float64,7,0.0,5.0,1.766621,2.0,1,2919,0.000343,0.0,17.0
62,GarageArea,float64,604,0.0,1488.0,472.874572,480.0,1,2919,0.000343,0.0,42.0
63,GarageQual,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
64,GarageCond,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
65,PavedDrive,object,3,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
66,WoodDeckSF,int64,379,0.0,1424.0,93.709832,0.0,0,2919,0.000000,0.0,67.0
67,OpenPorchSF,int64,252,0.0,742.0,47.486811,26.0,0,2919,0.000000,0.0,159.0
68,EnclosedPorch,int64,183,0.0,1012.0,23.098321,0.0,0,2919,0.000000,0.0,459.0
69,3SsnPorch,int64,31,0.0,508.0,2.602261,0.0,0,2919,0.000000,0.0,37.0
70,ScreenPorch,int64,121,0.0,576.0,16.062350,0.0,0,2919,0.000000,0.0,256.0
71,PoolArea,int64,14,0.0,800.0,2.251799,0.0,0,2919,0.000000,0.0,13.0
72,PoolQC,object,4,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
73,Fence,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
74,MiscFeature,object,5,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
75,MiscVal,int64,38,0.0,17000.0,50.825968,0.0,0,2919,0.000000,0.0,103.0
76,MoSold,int64,12,1.0,12.0,6.213087,6.0,0,2919,0.000000,0.0,0.0
77,YrSold,int64,5,2006.0,2010.0,2007.792737,2008.0,0,2919,0.000000,0.0,0.0
78,SaleType,object,10,NaN,NaN,NaN,NaN,1,2919,0.000343,NaN,NaN
79,SaleCondition,object,6,NaN,NaN,NaN,NaN,0,2919,0.000000,NaN,NaN
80,SalePrice,float64,664,34900.0,755000.0,180921.195890,163000.0,1459,2919,0.499829,0.0,61.0

### ETL Process

In [76]:
desc_dict, attr_dict = {}, {}
with open('House_Prices/data_description.txt', encoding='utf8') as f:
    for line in f:
        words = line.split()
        if words and ':' in line:
            col = words[0].replace(':','')
            desc_dict[col] = {}
        elif  not words:
            continue
        else:
            attr_desc = ' '.join(words[1:])
            attr = words[0]
            desc_dict[col][attr] = attr_desc

In [106]:
for col in df_combined.columns:
    if df_profile[df_profile['column_names'] == col]['null_values'].squeeze() > 0:
        if col in desc_dict and desc_dict[col].get('NA'):
            df_combined[col] = df_combined[col].fillna(desc_dict[col]['NA'])

#### 1. Replace NA

In [18]:
df_combined['Alley'] = df_combined['Alley'].fillna('No alley access')
df_combined['PoolQC'] = df_combined['PoolQC'].fillna('No Pool')
df_combined['PoolQC'] = df_combined['PoolQC'].fillna('No Pool')

#### 2. Remove NA